body {
  background-color: #f0f0f06e;
}

#root {
  max-width: 1280px;
  text-align: center;
  width: 100vw;
}

nav {
  display: grid;
  justify-content: center;
  align-items: left;
  padding: 1px;
  background-color: #f0f0f0;
  width: 75px;
  height:350px;
  position:fixed;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

nav a.bold {
  font-weight: bold;
}
